body{
    background: #151515;
}
/* header part */
.header-text span{
    color: #FF5E19;
    font-size: 4.75rem;
    font-weight: 400;
    font-family: 'Berkshire Swash', cursive;
}
.header-para{
    color: white;
    font-size: 1.25rem;
    font-family: 'Manrope';
}
.header-div{
    height: 30.063rem;
}
.bannar-img-1{
    position: absolute;
    width: 316px;
    height: 392.35px;
    left: 17px;
    top: 55px;
    background: #FFFFFF;
    transform: rotate(15deg);
}
.bannar-img-4{
    position: absolute;
    width: 285.26px;
    height: 430.76px;
    left: 7.74px;
    top: 49.96px;
}
.banner-img-2{
    position: absolute;
    width: 200.07px;
    height:200.89px;
    left: 1500.06px;
    top: 95.11px;
}
.banner-img-5{
    position: absolute;
    width: 479.5px;
    height: 335px;
    left: 1720px;
    top: 146px;
    background: rgba(255, 255, 255, 0.1);
}
.banner-img-3 {
    position: absolute;
    height: 180px;
    width: auto;
    left: 92.3%;
    top: 32.99%;
    border-radius: 14.4167px;
}
/* header done */

/* main part */
.player-div-1{
    width: 264px;
    height: 371px;
    background: #0D0D0D;
    border: 1px solid #434343;
}
.body-img-1{
    width: 264px;
    height: 204px;
}
.player-div-1 h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}
.player-div-2{
    width: 264px;
    height: 371px;
    background: #0D0D0D;
    border: 1px solid #434343;
}
.body-img-2{
    width: 264px;
    height: 204px;
}
.player-div-2 h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}
.player-div-3{
    width: 264px;
    height: 371px;
    background: #0D0D0D;
    border: 1px solid #434343;
}
.body-img-3{
    width: 264px;
    height: 204px;
}
.player-div-3 h1{
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}
.player-div-4{
    width: 264px;
    height: 371px;
    background: #0D0D0D;
    border: 1px solid #434343;
}
.body-img-4{
    width: 264px;
    height: 204px;
}
.player-div-4 h1{
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}
.player-div-5{
    width: 264px;
    height: 371px;
    background: #0D0D0D;
    border: 1px solid #434343;
}
.body-img-5{
    width: 264px;
    height: 204px;
}
.player-div-5 h1{
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}
.player-div-6{
    width: 264px;
    height: 371px;
    background: #0D0D0D;
    border: 1px solid #434343;
}
.body-img-6{
    width: 264px;
    height: 204px;
}
.player-div-6 h1{
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}
.selected-players{
    width: 264px;
    height: 371px;
    font-family: 'Manrope';
    background: #0D0D0D;
}
.total-budget{
    width: 264px;
    height: 514px;;
    font-family: 'Manrope';
    background: #0D0D0D;
}
.total-amount{
    color: #FF5E19;
}

